header video
{
    margin-top: 70px;
    position: absolute;
    width:100%;
    height: 100%;
    
}


.slider-container {
    position: relative;
    width:200px;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scroll-padding: 0 20px;
  }
  
  .slide {
    flex: 0 0 auto;
    width: calc(100% - 40px);
    margin-right: 200px;
    scroll-snap-align: start;
  }
  
  .slide img {
    width: 200px;
    height: auto;
  }
  
  .slider-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  
  .slider-controls button {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
  .slider-controls button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  

  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .know-more {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
  }
  
  .image-container:hover .know-more {
    opacity: 1;
  }
  